<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WorkflowTemplatePath" value="../KomInn.Assets/Workflows/E-post ved nytt forslag.wsp"/>
    <add key="WorkflowFeatureId" value="{dad68291-cf63-492d-9731-98014f99b4f5}"/>
    <add key="WorkflowEventsFeatureId" value=""/>
    <add key="WorkflowSolutionId" value="{681155b3-31ca-4ba9-8190-be3256dd647a}"/>
  </appSettings>
  <system.diagnostics>
  <trace autoflush="true" indentsize="4">
    <listeners>
      <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="MyLogFile.log" />
    </listeners>
  </trace>
  </system.diagnostics>
</configuration>